#ifndef SECRETS_H

#define SECRET_WIFI_SSID ""
#define SECRET_WIFI_PASS ""

#define SECRET_FOB_SERVER_URL ""

#define SECRET_ROOT_CA ""

#define SECRET_CLIENT_KEY ""

#define SECRET_CLIENT_CERT ""

#endif
